/* IMPORT TYPEFACES HERE */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Aleo:300, 300i,400,400i');


/* STYLES GO HERE */

.mainContainer {
    font-family: 'Nunito', 'sans-serif';
   -webkit-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    -moz-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    } 

h5 {
	font-size: 16px;
    padding: 0px;
    font-size: .9em;
    color: #2F323A;
    width:250px;
    text-align: center;
    bottom:-10px;
    left: 70px;
    position: absolute;
    font-family: 'Aleo';
    font-weight: 500;
    letter-spacing: .05em;  
    z-index: 3;
}

.subNav {
    text-align: center;
    color: #2F323A;
    top:70px;
    right:70px;
    font-size: .9em;
    font-family: 'Aleo';
    font-weight: 700;
    letter-spacing: .05em; 
    position:fixed;
    z-index: 1;
    }

.about{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.resume{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header{position:relative;
    width: 50vw;
    height: 11vh;
    margin:auto;
    top:120px; }

.logo {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
	font-size: 2em;
	color: #2F323A;
    text-align:right;
    margin-top: 0px;
    transition: color .5s;
    width:20vw;
    position:absolute;
    display: inline-block;
    }

.subLogo{
    position:absolute;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
	font-size: .5em;
	color: #2F323A;
    text-align:right;
    margin-top: 10px;
    transition: color .5s;
    width:20vw;
    }

.line1 { 
    width:4px; height:100px; background: #2F323A; transition: background-color .3s; display:inline-block; 
    position:absolute; 
margin-right: 30px;
margin-left:30px;}

.description { 
    width:24vw; height:100px; 
    transition: background-color .3s; 
    display:inline-block; 
    position:absolute; 
    font-family: 'Aleo', 'sans-serif';
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.5em;
	font-size: .5em;
	color: #2F323A;
    text-align:left;
    margin-right: 30px;
    margin-left:60px;}

.nav2ContainerA:hover a {color:#D0021B;}
span:hover {color:#D0021B;}
.logo:hover, .subLogo:hover { color:#D0021B;}
.line1:hover {background-color: #D0021B; }
a:link {text-decoration: none; color: #2F323A; }
a:visited { color:#2F323A;}
a:active { color:#D0021B;text-decoration: underline;}
a:hover {color:#D0021B;}


.mainNav {
    width:600px;
    height: 100px;
    margin-top:100px;
    position: absolute;
    display:inline-block;
}

.navInteraction { 
    color: #2F323A;
    position:absolute; 
    display: inline-block;
    left:15vw;
    top:100px;
    font-size:1.1em;
    font-weight: 700;
    letter-spacing: .03em;
    transition: color .5s ;
    transform: rotate(-90deg); transform-origin: left top 0;}

.navStrategy { 
    color:#2F323A;
    position:absolute; 
    display: inline-block;
    left:15vw; 
    top:195px;
    font-size:1.1em;
    font-weight: 700;
    letter-spacing: .03em;
    transition: color .5s;
transform: rotate(-90deg); transform-origin: left top 0;}

.navVisual { 
    color:#2F323A;
    position:absolute; 
    display: inline-block;
    left:15vw;  
    top:280px;
    font-size:1.1em;
    font-weight: 700;
    letter-spacing: .03em;
    transition: color .5s;
transform: rotate(-90deg); transform-origin: left top 0;}

::-webkit-scrollbar { display: none; }

#scrollingWrapper{
    overflow-y: scroll;
    white-space: nowrap;
    width:56vw;
    margin:auto;
    margin-top:180px;
    height:28vw;
    scroll-behavior:smooth;
}

#scrollInteraction{width:1px; height:1px;}
#scrollStrategy{width:1px; height:1px;}
#scrollVisual{width:1px; height:1px;}

#itemWrapper {    
    position: relative; 
    display:inline-block;
    width: 28vw;
    height: 28vw;
    margin:auto;}

.image {width:25vw; height: auto;
    position: absolute; 
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    display:inline-block;
    vertical-align: top;
    background-size:contain;

}

.svgContainer {width:25vw; height:25vw;
    position: absolute; 
     display:inline-block;
    top:-45px;
    left:-50px;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 3;   
}

rect {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-linecap: butt;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;

}

rect:hover {
  fill: pink;
  stroke-dashoffset: 0;
  stroke-dasharray: 1800;
  stroke-width: 10;
}

.imageLabel h4 {
position: absolute;
display:inline-block;
z-index: 3;
color: #D0021B;
font-weight: 600;
letter-spacing: .1em;
text-align: left;
bottom:-20px;
left:25px;
width: auto;
height:20px;
max-width: 0%;
white-space: nowrap;
overflow: hidden;
transition: max-width 1s linear;
font-family: 'Aleo';
}

.mobileImageLabel {visibility: hidden; width:0px; height: 0px; display: none; overflow: hidden;}

#itemWrapper:hover h4 {
  max-width: 100%;}

.socMedia {
    position: fixed;
    bottom: 70px;
    right:80px;
    list-style-type: none;
    line-height: 2em;
    font-size: 1.5em;}

.socMedia2 {
    position: fixed;
    top: 60px;
    left:80px;
    list-style-type: none;
    line-height: 2em;
    font-size: 1.5em;
    display:inline-block;
    }

.socMedia2 li {float:left; padding-right:20px;}

li{transition: color .5s;}

li:hover a {color:#D0021B;}


/* ABOUT PAGE STUFF */


.aboutMainContainer {
    font-family: 'Nunito', 'sans-serif';
   -webkit-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    -moz-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    } 

.aboutContent{
    display: flex;
    align-items: center;
    position: relative;
    width:70vw;
    height:auto;
    margin:auto;
    top:20vh; bottom:0; left:0; right:0;
}

.leftabout img {
    object-fit: cover;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    float:left;
    vertical-align: middle;
    margin:50px;
    margin-left:80px;
}

.rightabout {
    width: 35vw;
    display:inline-block;
    margin-left:30px;
    padding-top:40px; padding-bottom: 40px;
    line-height: 1.3em;
    font-size:1.1em;
}

.aboutQuote {
    position:relative;
    text-align: center;   
    padding:20px;
    font-family: 'Aleo';
    line-height: 1.5em;
    display:block;
    width:70vw;
    margin: auto;
    margin-top: 150px;
}

.line3 { 
    width:100px; height:4px; background: #2F323A; transition: background-color .3s; margin:auto;}

/* alright try not to make 50 classes for the same damn thing, all case study styles here: */
.mainContainerWork{
    font-family: 'Nunito', 'sans-serif';
   -webkit-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    -moz-box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    box-shadow:inset 0px 0px 0px 40px #ECEBF3;
    position: relative;
    background: white;
    width: 100%;
    height: 100vh;} 
.workLeft {position:fixed; top:140px; left:12vw; width:335px; line-height:1em;}
.headerImage{position: fixed; margin-top:130px; margin-left: 85px; }
.headerImage img {width: 250px; display:block; float:right;}
h1{font-weight: 300; text-align: right;line-height: 1.2em;}
h2{font-family: 'Aleo';text-align: right;line-height: 1em;font-size:1em;}
.workLeft h3{font-family: 'Aleo';font-weight: 300; line-height: 1.3em; font-size:.9em;text-align: right;}

.navNext {margin-top:300px; margin-left: 85px; text-align:right;}

.navNext i {font-size: 1em;}

.navPrev {margin-top:20px; margin-left: 85px; text-align:right;}
.navPrev i {font-size: 1em;}

h7{ font-family: 'Aleo';font-weight: 300; font-size:.6em;text-align: right;}
.navNext i {font-size: 1.3em;} 

/* attempt at scrollbar */

.progress-container {
position: fixed;
  width: 35%;
  height: 4px;
  background:#ECEBF3 ;
    margin-left:80px;
    margin-top:-290px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.progress-bar {
  height: 4px;
  background: #D0021B;
  width: 0%;
}


.line2 { 
    width:1.5px; height:580px; background: #2F323A; display:inline-block; 
    position:fixed; top:145px; left:34vw;}

.workRight{ position:absolute; width:48vw; margin: auto; margin-left:36vw; top:120px; height:75vh; overflow-y: scroll;}

h3 {font-family: 'Aleo';font-weight: 300; line-height: 1.2em; font-size:.9em;}
h6 {font-family: 'Aleo';font-weight: 600; line-height: 1.3em; font-size:1em; }
p{line-height: 1.3em; font-weight: 300; }

.workRight img { width:43vw; margin:.5vw; margin-left:2vw;}

/* image gallery stuff */

.galleryRight{ position:absolute; width:48vw; margin: auto; margin-left:36vw; top:120px; height:75vh; overflow-y: scroll;}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* MEDIA QUERIES GO HERE */

    

@media (max-width: 840px) {

.mainContainer {
    -webkit-box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    -moz-box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    height: 2640px; width:100%; overflow-y: hidden;}

h5 {
    bottom:10px;
    left:30px;
    position: absolute;
    }
    
.subNav {
    top:30px;
    right:30px;
    position: fixed;
    }
    
.about{
    display:block;
    margin:5px;
    text-align: right;
}
    
.resume{
    display:block;
    margin:5px;
    text-align: right;
}
    
.header{
        top:120px;
        position: relative;
        width:250px;
        margin:auto;
    }
    
.logo{
        position: absolute;
        display:block;
        text-align: center;
        width: 250px;
        margin:auto;
    }
    
 .subLogo{
        position: absolute;
        display: block;
        text-align: center;
        width: 250px;
        top:50px;
        margin:auto;     
    }
    
.line1{
        position: absolute;
        width:100px; height:4px;
        display:block;
        top:170px;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
    }
    
.description{
         position: absolute;
        display: block;
        text-align: center;
        width: 250px;
        top:120px;
        margin:auto; 
        font-size: .4em;   
    }
    
.mainNav{visibility: hidden; width: 0px; position:absolute;} 
    
   #scrollingWrapper{
    position:relative;
    overflow: scroll;
    width:70vw;
    height:2200px;
    margin-top:320px;
       overflow-x: hidden;
}
    
#scrollInteraction{width:0px; height:0px;}
#scrollStrategy{width:0px; height:0px;}
    #scrollVisual{width:0px; height:0px;}

#itemWrapper { 
    display:block;
    position: relative; 
    width: 70vw;
    height: 70vw;
    margin:0px;
}

.image {width:70vw;
    position: absolute; 
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    }

.rect {visibility: hidden;width: 0px;}
.rect:hover {visibility: hidden; stroke-width:0px; opacity: 0%; display: none;width: 0px;}
.imageLabel h4 {visibility: hidden;width: 0px;}

.mobileImageLabel{ visibility: visible; width:200px; height: 40px; display: block;
overflow: visible; margin:5px; font-size:.8em; font-family: 'Aleo' }

.socMedia {
    position: fixed;
    width:20px;
    display: inline-block;
    bottom:20px;
    right:40px;
    }

.socMedia2 {
    position: fixed;
    display: inline-block;
    width:20px;
    left:40px;
    top:20px;
    }
    
    /*ABOUT MOBILE*/
    
.aboutMainContainer {
    -webkit-box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    -moz-box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    box-shadow:inset 0px 0px 0px 20px #ECEBF3;
    height: 960px; width:100%; overflow-y: hidden;}

    
.aboutContent{
    width:80vw;
    top:10vh; bottom:0; left:0; right:0;
}

.leftabout img {
    position:absolute;
    height: 200px;
    width: 200px;
    float: none;
    left:0; right:0;top:50px;
    margin:auto;
}

.rightabout {
    position:relative;
    width: 58vw;
    display:block;
    text-align: center;
    font-size:1em;
    left:0; right:0;top:240px; bottom:0;
    margin:auto;
}

.aboutQuote {
    position:relative;
    font-size: .8em;
    left:0; right:0;top:240px; bottom:0;}

.line2 { position:relative;
    font-size: .8em;
    left:0; right:0;top:230px; bottom:0;}
}

    






